.subscribe-btn {
  background-color: rgb(200, 0, 0);
  color: white;
  border: none;
  height: 36px;
  width: 105px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.15s;
}

.subscribe-btn:hover {
  opacity: 0.8;
}

.subscribe-btn:active {
  opacity: 0.5;
}

.join-btn {
  background-color: white;
  border-color: rgb(41, 118, 211);
  border-style: solid;
  border-width: 1px;
  color: rgb(41, 118, 211);
  height: 36px;
  width: 62px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
}

.join-btn:hover {
  background-color: rgb(41, 118, 211);
  color: white;
}

.join-btn:active {
  opacity: 0.7;
}

.tweet-btn {
  background-color: rgb(2, 158, 255);
  color: white;
  border: none;
  height: 36px;
  width: 75px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-left: 8px;
  transition: box-shadow 0.15s;
}

.tweet-btn:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

/*3a*/

.uber-btn {
  background-color: black;
  color: white;
  border: none;
  height: 40px;
  width: 120px;
  cursor: pointer;
  transition: opacity 0.15s;
}

.uber-btn:hover {
  opacity: 0.8;
}

/*3b*/
.amazon-btn {
  background-color: rgb(255, 216, 20);
  color: black;
  border: none;
  height: 36px;
  width: 160px;
  border-radius: 28px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
}
  
.amazon-btn:hover {
  background-color: rgb(240, 210, 20);
  color: black;
}

/*3c*/
.github-btn {
  background-color: rgb(46, 164, 79);
  color: white;
  border: none;
  height: 36px;
  width: 90px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: box-shadow 0.15s;
}

.github-btn:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}

/*3d*/
.bootstrap-start-btn {
  background-color: rgb(121, 82, 179);
  color: white;
  border: none;
  height: 36px;
  width: 110px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  margin-right: 8px;
  transition: bakground-color 0.15s;
}

.bootstrap-start-btn:hover {
  background-color: rgb(90, 63, 131);
}

.bootstrap-download-btn {
  background-color: white;
  border-color: rgb(108, 117, 125);
  border-style: solid;
  border-width: 1px;
  color: rgb(108, 117, 125);
  height: 36px;
  width: 110px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
}

.bootstrap-download-btn:hover {
  background-color: rgb(108, 117, 125);
  color: white;
}

.bootstrap-download-btn:active {
  opacity: 0.7;
}
  
/*3e*/
.linkedin-apply-btn {
  background-color: rgb(10, 102, 194);
  color: white;
  border: none;
  height: 40px;
  width: 240px;
  border-radius: 28px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 0.15s;
}

.linkedin-apply-btn:hover {
  background-color: rgb(5, 57, 109);
}

.linkedin-save-btn {
  background-color: white;
  border-color: rgb(10, 102, 194);
  border-style: solid;
  border-width: 1px;
  color: rgb(10, 102, 194);
  height: 40px;
  width: 90px;
  border-radius: 28px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: border-width 0.15s, opacity 0.15s;
}

.linkedin-save-btn:hover {
  border-width: 2px;
  opacity: 0.5;
}

/*3f*/
a {
  color: rgb(0, 113, 133);
}

a:hover {
  color: red;
}

.intro {
  font-weight: bold;
  font-size: 25px;
}

.pricing {
  color: rgb(0, 118, 0);
  font-weight: bold;
}

.addtocart-btn {
  background-color: rgb(255, 216, 20);
  color: black;
  border: none;
  height: 36px;
  width: 130px;
  border-radius: 28px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin: 8px;
  transition: background-color 0.15s;
}

.addtocart-btn:hover {
  background-color: rgb(212, 177, 2);
}

.addtocart-btn:active {
  opacity: 0.7;
}

.buy-btn {
  background-color: rgb(255, 164, 28);
  color: black;
  border: none;
  height: 36px;
  width: 110px;
  border-radius: 28px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.buy-btn:hover {
  background-color: rgb(224, 138, 8);
}

.buy-btn:active {
  opacity: 0.7;
}