
 p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.video-title {
  font-weight: bold;
  font-size: 18px;
  width: 280px;
  line-height: 24px;
  margin-bottom: 5px;
}

.video-stats {
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 20px;
}

.video-author {
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 20px;
}

.video-description {
  font-size: 14px;
  width: 280px;
  color: rgb(96, 96, 96);
  line-height: 22px;
  margin-bottom: 100px;
}

.apple-text {
  background-color: rgb(227, 65, 64);
  font-size: 14px;
  text-align: center;
  color: white;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sharp-link {
  cursor: pointer;
}

.sharp-link:hover {
  text-decoration: underline;
}

/*Lesson 5 Excercise - Text Styles*/
/*5a*/
.TahomaFont {
  font-family: Arial;
  font-weight: bold;
}
  
/*5b*/
.text {
  font-family: Tahoma;
  font-weight: bold;
  margin-bottom: 5px;
}

.text2 {
  font-family: Arial;
  color: red;
}

/*5c*/
p {
  font-family: Verdana;
  margin-top: 0;
  margin-bottom: 0;
}

.course-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 3px;
}

.course-type {
  color: rgb(100, 100, 100);
  margin-bottom: 18px;
}

.course-description {
  width: 300px;
  line-height: 22px;
  margin-bottom: 18px;
}

.course-btn {
  background-color: green;
  color: white;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 6px;
  cursor: pointer;
}
  
/*5d*/
.ad-title {
  font-family: Arial;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ad-description {
  font-family: Arial;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 20px;
}

.ad-link {
  font-family: Arial;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(58, 108, 199);
}

/*5e*/
.p {
  font-family: Arial;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.product-type {
  font-size: 14px;
  color: orange;
}

.product-title {
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-description {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 10px;
}

.product-cost {
  color: rgb(100, 100, 100);
  margin-bottom: 14px;
}

.buy-btn {
  background-color: rgb(0, 113, 227);
  color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 14px;
}
  
/*5f*/
p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.price {
  font-size: 32px;
  margin-bottom: 5px;
}

.currency {
  font-size: 16px;
  color: rgb(100, 100, 100);
}

.change {
  color: rgb(24, 128, 56);
  margin-bottom: 8px;
}

.after-hours {
  color: rgb(100, 100, 100);
}

.after-hours-change {
  color: rgb(235, 39, 39);
}
  
/*5g*/
p {
  font-family: Arial;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
}

.tweet-header {
  margin-bottom: 5px;
}

.tweet-author {
  font-weight: bold;
}

.tweet-info {
  color: rgb(100, 100, 100);
}

.tweet {
  width: 600px;
  line-height: 25px;
  margin-bottom: 20px;
}

.twitter-handle {
  color: rgb(29, 155, 240);
}